<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>title</td>
        <td>description</td>
        <td>director</td>
        <td>year</td>
        <td>picture</td>
        <td>date</td>
    </tr>

    <tr>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.year}"></td>
        <td><img th:src="@{/getImage(picUrl=${movie.picUrl})}" width="50"></td>
        <td th:text="${movie.date}"></td>
</table>
</body>
</html>