<!doctype html>
<html lang="en">
<head>
    <title>Register</title>

</head>
<body>
<table border="1">
    <form action="/register" method="post" enctype="multipart/form-data">
        Name:<input type="text" name="name" placeholder="name"><br>
        Surname:<input type="text" name="surname" placeholder="surname"><br>
        Email:<input type="text" name="email" placeholder="email"><br>
        Password:<input type="password" name="password" placeholder="password"><br>
        Picture:<input type="file" name="picture"><br>
        <input type="submit" value="Register">

    </form>
</table>
</body>
</html>