<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table border="1">
<tr>
    <td>title</td>
    <td>description</td>
    <td>director</td>
    <td>year</td>
    <td>picture</td>
    <td>user</td>
    <td>genre</td>
    <td>date</td>
</tr>

<tr th:each="movie : ${movies}">
    <td><a th:href="@{/currentMovie(id=${movie.id})}" th:text="${movie.title}"></a></td>
    <td th:text="${movie.description}"></td>
    <td th:text="${movie.director}"></td>
    <td th:text="${movie.year}"></td>
    <td><img th:src="@{/getImage(picUrl=${movie.picUrl})}" width="50"></td>
    <td th:text="${movie.user.name}"></td>
    <td><span th:each="genre:${movie.getGenres()}" th:text="${genre.name}"> </span></td>
    <td th:text="${movie.date}"></td>
</tr>
</table>
</body>
</html>